[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-interval-camera
Exec=harbour-interval-camera
Name=Interval Camera
Name[de]=Intervallkamera

